#cardBox {
  display: flex;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

#cardBoxImg {
  margin: auto 0;
  min-width: 56px;
  min-height: 56px;
}

#cardBox div > p + p {
  margin-top: 5px;
}

#cardBox > div {
  margin: auto;
}
