@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f3f4;
}

html,
body {
  height: 100%;
}

p {
  font-size: 16px;
}

main {
  width: 70%;
  max-width: 1100px;
  margin: 100px auto;
}

p + p {
  margin-top: 10px;
}

.pageTitle {
  margin-bottom: 40px;
}
